.dashboard{
    /* border: 1px solid red; */
    min-height: 100vh;
    background: #f0f0f0;
}
.dashboard header{
  background:#5e72e4;
  padding:30px 20px 2px 20px;
  /* border-bottom:0.01rem solid rgb(234, 233, 233) */
}
header .header_heading{
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.mini_nav {
    width: 380px;
    height: 42px;
    border-radius: 10px 10px 0 0;
    display: flex;
    text-align: center;
    position: relative;
    background: #5e72e4;
  }
  .mini_nav label {
    width: 100%;
    height: 100%;
    line-height: 45px;
    font-size: 15px;

    /* color: #fff; */
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
    
  }
  .mini_nav label:hover {
    /* color: #5c60f5; */
    /* border-bottom: 3px solid #888cf6; */
  }

  .mini_nav .mini_nav_slider {
    position: absolute;
    height: 100%;
    width: 25%;
    border-bottom: 3px solid #ffffff;
    display: inline-block;
    /* background: linear-gradient(45deg,#c2c0f8,#a193fd); */
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    transition: all 0.4s ease;
    z-index: 1;
  }
  #sales:checked ~ .mini_nav .mini_nav_slider {
    left: 25%;
  }
  #accountant:checked ~ .mini_nav .mini_nav_slider {
    left: 50%;
  }
  #items:checked ~ .mini_nav .mini_nav_slider {
    left: 75%;
  }
  
  
  
  input[type="radio"] {
    display: none;
  }
  /* =======================================================Media query ================================================== */
  @media only screen and (max-width: 460px)  {
    .dashboard header{
      padding:10px 10px 0 10px;
    }
    header .header_heading{
      display: block;
    }
    header .header_heading .header_div_btn{
      margin-top: 10px;
    }
    .mini_nav {
      width: 350px;
    }
  }
  
  